/* === pages ==================================*/
/* ========== landing =========================*/
.landing_wrap {
  width: 1920px;
  height: 1080px;
  display: flex;
  background-color: #ffffff;
  position: relative;
  border: 1px solid pink;
}
.landing_left {
  width: 1080px;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e1e3;
}

.landing_right {
  width: 780px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}
.landing_right_title {
  width: 800px; /* 530px */
  height: 48px; /* 48px */
  font-size: 50px;
  margin-bottom: 80px;
}
.landing_right_subTitle {
  width: 705px;
  height: 96px; /* 96px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  margin-bottom: 80px;
}
.landing_right_contents {
  width: 683px;
  height: 238px; /* 238px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  margin-bottom: 150px;
}
.landing_right_button {
  box-sizing: border-box;
  width: 710px;
  height: 90px;
  background-color: violet;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.landing_right_button::after {
}
.landing_right_button :hover {
  box-shadow: 0 0 10px red;
}
/*=== components ==================================*/
/*=============== layout ==================================*/
.layout_main {
  width: 1920px;
  height: 1080px;
  background-color: #e0e1e3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout_wrap {
  width: 1840px;
  height: 1020px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 28px 28px 50px 0px rgba(13, 39, 80, 0.16),
    -23px -23px 45px 0px #ffffff;
  background-color: #e0e1e3;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  position: absolute;
  border-radius: 43px;
}
.layout_left {
  flex-shrink: 0;
  width: 240px;
  height: 980px;
  box-shadow: inset -20px -20px 43px 0px rgba(255, 255, 255, 0.64),
    inset 15px 15px 35px 0px rgba(13, 39, 80, 0.16);
  background-color: #e0e1e3;
  overflow: visible;
  z-index: 1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout_left_user {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  overflow: visible;
  align-content: center;
}
.layout_left_userImage_wrap {
  border-radius: 100px;
  width: 164px;
  height: 164px;
  /* border: 1px solid blue; */
  box-shadow: 13px 13px 20px 0px rgba(13, 39, 80, 0.2),
    -8px -8px 20px 0px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout_left_userImage {
  border-radius: 100px;
  width: 160px;
  height: 160px;
}
.layout_left_userName {
  box-sizing: border-box;
  width: min-content; /* 100px */
  height: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  box-shadow: 8px 8px 20px 0px rgba(13, 39, 80, 0.2), -8px -8px 18px 0px #ffffff;
  background-color: #e0e1e3;
  min-width: 100px;
  align-content: center;
  border-radius: 8px;
}
.layout_left_menu_wrap {
  margin-top: 20px;
}
.layout_left_menu {
  width: 200px;
  height: 60px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
}
.layout_left_menu:hover {
  transition: 0.4s;
  box-shadow: 8px 8px 20px 0px rgba(13, 39, 80, 0.2), -8px -8px 18px 0px #ffffff;
  background-color: #e0e1e3;
}
.layout_left_menu_icon {
}
.layout_left_menu_title {
}
.layout_right {
  flex-shrink: 0;
  width: 1540px;
  height: 980px;
  margin-left: 20px;
  box-shadow: inset -31px -31px 43px 0px rgba(255, 255, 255, 0.64),
    inset 26px 26px 30px 0px rgba(13, 39, 80, 0.16);
  background-color: #e0e1e3;
  overflow: visible;
  z-index: 1;
  border-radius: 30px;
}

.moving_audio_spectrum {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 300px;
  width: 100%;
  background-color: #000;
}

.bar {
  width: 10px;
  margin: 0 2px;
}
